<div class="perfil-container">
  <div class="perfil-header">
    <h1>Perfil do Usuário</h1>
    <button mat-icon-button color="primary" (click)="voltarParaPrincipal()" matTooltip="Voltar para a página principal">
      <mat-icon>home</mat-icon>
    </button>
  </div>

  <div *ngIf="usuario">
    <h2>Dados Pessoais</h2>
    <p><strong>Nome:</strong> {{ usuario.nome }}</p>
    <p><strong>Login:</strong> {{ usuario.login }}</p>
    <p><strong>CPF:</strong> {{ usuario.cpf }}</p>
    <button mat-button (click)="editarDados()">Editar Dados</button>
  </div>

  <!-- <div *ngIf="usuario">
    <h2>Perfil de {{ usuario.nome }}</h2>
    <button mat-raised-button color="primary" [routerLink]="['/perfil/enderecos/new', usuario.id]">Adicionar Endereço</button>
    <button mat-raised-button color="primary" [routerLink]="['/perfil/telefones/new', usuario.id]">Adicionar Telefone</button>
    <div>
      <h3>Telefones</h3>
      <ul>
        <li *ngFor="let telefone of usuario.listaTelefone">
          {{ telefone.codigoArea }} - {{ telefone.numero }}</li>
      </ul>
    </div>

    <div>
      <h3>Endereços</h3>
      <ul>
        <li *ngFor="let endereco of usuario.listaEndereco">
          {{ endereco.rua }} - {{ endereco.numero }} - {{ endereco.cidade }} - {{ endereco.estado }} - {{ endereco.cep }}
        </li>
      </ul>
    </div>
  </div> -->

  <div *ngIf="usuario">
    <h2>Endereços e Telefones de {{ usuario.nome }}</h2>
    <button mat-raised-button color="primary" (click)="selectAddress()">Selecionar Endereço</button>
    <button mat-raised-button color="primary" (click)="selectPhone()">Selecionar Telefone</button>

    <div *ngIf="selectedAddress">
      <h3>Endereço Selecionado</h3>
      <p>{{ selectedAddress.rua }}, {{ selectedAddress.cidade }}, {{ selectedAddress.estado }} - {{ selectedAddress.cep }}</p>
    </div>

    <div *ngIf="selectedPhone">
      <h3>Telefone Selecionado</h3>
      <p>{{ selectedPhone.numero }}</p>
    </div>
  </div>

  <h2>Meus Pedidos</h2>
  <div *ngFor="let pedido of pedidos" class="pedido-item">
    <p><strong>Pedido #{{ pedido.id }}</strong></p>
    <p><strong>Data:</strong> {{ pedido.dataHora | date }}</p>
    <p><strong>Total:</strong> {{ pedido.totalPedido | currency:'BRL' }}</p>
    <button mat-button (click)="verDetalhes(pedido.id)">Ver Detalhes</button>
  </div>
</div>
