<mat-toolbar color="primary">
  <div class="flex-container">
    <span class="toolbar-title">Controle de pedidos</span>
    <button mat-fab color="accent" routerLink="/pedidos/new">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-toolbar>

<table mat-table [dataSource]="pedidos" class="mat-elevation-z8">
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Rua Column -->
  <ng-container matColumnDef="dataPedido">
    <th mat-header-cell *matHeaderCellDef>dataPedido</th>
    <td mat-cell *matCellDef="let element">{{ element.dataPedido }}</td>
  </ng-container>

  <!-- Número da Casa Column -->
  <ng-container matColumnDef="pagamento">
    <th mat-header-cell *matHeaderCellDef>pagamento</th>
    <td mat-cell *matCellDef="let element">
      {{ element.pagamento.formaPagamento.label }}
    </td>
  </ng-container>

  <!-- Cidade Column -->
  <ng-container matColumnDef="statusPedido">
    <th mat-header-cell *matHeaderCellDef>statusPedido</th>
    <td mat-cell *matCellDef="let element">{{ element.statusPedido.label }}</td>
  </ng-container>

  <!-- Estado Column -->
  <ng-container matColumnDef="cupom">
    <th mat-header-cell *matHeaderCellDef>cupom</th>
    <td mat-cell *matCellDef="let element">{{ element.cupom.nomeCupom }}</td>
  </ng-container>

  <!-- CEP Column -->
  <ng-container matColumnDef="totalPedido">
    <th mat-header-cell *matHeaderCellDef>totalPedido</th>
    <td mat-cell *matCellDef="let element">{{ element.totalPedido }}</td>
  </ng-container>
  <!-- CEP Column -->
  <ng-container matColumnDef="usuario">
    <th mat-header-cell *matHeaderCellDef>usuario</th>
    <td mat-cell *matCellDef="let element">{{ element.usuario.nome }}</td>
  </ng-container>
  <!-- CEP Column -->
  <ng-container matColumnDef="itens">
    <th mat-header-cell *matHeaderCellDef>itens</th>
    <td mat-cell *matCellDef="let element">
      <mat-list>
        @for (item of element.itens; track item) {
        <mat-list-item>
          <h3 matListItemTitle>{{ item.productId }}</h3>
          <p matListItemLine>
            <span>{{ item.preco }}</span>
          </p>
        </mat-list-item>
        }
      </mat-list>
    </td>
  </ng-container>

  <!-- Ação Column -->
  <ng-container matColumnDef="acao">
    <th mat-header-cell *matHeaderCellDef>Ação</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        color="primary"
        routerLink="/pedidos/edit/{{ element.id }}"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="excluirPedido(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Definição das colunas a serem exibidas -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
