<div class="container responsive-grid">
  <mat-card *ngFor="let card of cards()" class="product-card">
    <img *ngIf="card.nomeImagem" mat-card-image [src]="getUrlImagem(card.nomeImagem)" alt="Imagem do Produto" class="product-image">
    <mat-card-title class="centered-text"> {{card.nome}} </mat-card-title>
    <br/>
    <mat-card-content class="centered-text"> {{card.preco | currency : 'BRL'}} </mat-card-content>

    <mat-card-actions class="centered-text">
      <button mat-flat-button (click)="toggleDetails(card)"
      class="custom-button">
        {{ card.showDetails ? 'Ver menos ...' : 'Ver mais ...' }}
      </button>
    </mat-card-actions>

    <mat-expansion-panel *ngIf="card.showDetails" expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Detalhes do Produto
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card-content>
        <p><strong>Categoria:</strong> {{card.category.category}}</p>
        <p><strong>Compatibilidade:</strong> {{card.category.compatibilidade}}</p>
        <p><strong>Tipo de Mola:</strong> {{card.category.tipoMola}}</p>
        <p><strong>Tipo de Amortecedor:</strong> {{card.category.tipoAmortecedor}}</p>
      </mat-card-content>
    </mat-expansion-panel>
    <mat-card-footer>
      <button mat-flat-button
      (click)="adicionarAoCarrinho(card)"
      class="custom-button">Adicionar ao carrinho</button>
    </mat-card-footer>
  </mat-card>
</div>
