<mat-card>
  <mat-card-title>Admin Control</mat-card-title>
  <mat-card-content>
    <div class="button-group">
      <button mat-raised-button color="primary" routerLink="/admin/usuarios">
        Gerenciar Usuários
      </button>
      <button mat-raised-button color="primary" routerLink="/admin/produtos">
        Gerenciar Peças
      </button>
      <button mat-raised-button color="primary" routerLink="/admin/categories">
        Gerenciar Suspensões
      </button>
    </div>
  </mat-card-content>
</mat-card>
