<mat-toolbar color="primary" class="toolbar-title"><mat-icon class="white-icon">directions_car</mat-icon>Cadastro de
  Peça</mat-toolbar>

<div class="form-container">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <!-- espaço -->
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label><mat-icon>local_offer</mat-icon>Nome</mat-label>
          <input matInput type="text" formControlName="nome" />
          <mat-error *ngIf="
              formGroup.get('nome')?.errors && formGroup.get('nome')?.touched
            ">
            @if (formGroup.get('nome')?.errors?.['required']) {
            <span>O nome deve ser informado.</span>
            } @if (formGroup.get('nome')?.errors?.['minlength']) {
            <span>O nome deve possuir ao menos 4 caracteres.</span>
            } @if (formGroup.get('nome')?.hasError('apiError')) {
            <span>{{ formGroup.get("nome")?.getError("apiError") }}</span>
            }
          </mat-error>
        </mat-form-field>
        <!-- espaço -->
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label><mat-icon>description</mat-icon>Descricao</mat-label>
          <input matInput type="text" formControlName="descricao" />
          <!-- Validação para o campo de login -->
          <mat-error *ngIf="
              formGroup.get('descricao')?.errors &&
              formGroup.get('descricao')?.touched
            ">
            @if (formGroup.get('descricao')?.errors?.['required']) {
            <span>O descricao deve ser informado.</span>
            } @if (formGroup.get('descricao')?.errors?.['minlength']) {
            <span>O descricao deve possuir ao menos 4 caracteres.</span>
            } @if (formGroup.get('descricao')?.hasError('apiError')) {
            <span>{{ formGroup.get("descricao")?.getError("apiError") }}</span>
            }
          </mat-error>
        </mat-form-field>
        <!-- espaço -->

        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label><mat-icon>category</mat-icon>Tipo de Suspensao</mat-label>
          <mat-select formControlName="idCategory">
            @for (category of categories; track category) {
            <mat-option [value]="category.id">{{
              category.category
              }}</mat-option>
            }
          </mat-select>

          <!-- Validação para o campo de senha -->
          <mat-error - *ngIf="
         formGroup.get('idCategory') &&
         formGroup.get('idCategory')?.invalid &&
         formGroup.get('idCategory')?.touched
         ">a categoria é obrigatória.</mat-error>
        </mat-form-field>

        <!-- <mat-form-field appearance="fill">
          <mat-label>Categoria</mat-label>
          <mat-select formControlName="category">
            @for (category of categories; track category.id) {
            <mat-option [value]="category">
              {{category.category}}
            </mat-option>
            }
          </mat-select>
        </mat-form-field> -->


        <!-- espaço -->

        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label><mat-icon>monetization_on</mat-icon>Preco</mat-label>
          <input matInput type="text" formControlName="preco" />
          <mat-error *ngIf="
              formGroup.get('preco')?.errors && formGroup.get('preco')?.touched
            ">
            @if (formGroup.get('preco')?.errors?.['required']) {
            <span>O preco deve ser informado.</span>
            } @if (formGroup.get('preco')?.errors?.['minlength']) {
            <span>O preco deve possuir ao menos 4 caracteres.</span>
            } @if (formGroup.get('preco')?.hasError('apiError')) {
            <span>{{ formGroup.get("preco")?.getError("apiError") }}</span>
            }
          </mat-error>
        </mat-form-field>

        <!-- espaço -->
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label><mat-icon>inventory_2</mat-icon>Estoque</mat-label>
          <input matInput type="text" formControlName="estoque" />
          <mat-error *ngIf="
              formGroup.get('estoque')?.errors &&
              formGroup.get('estoque')?.touched
            ">
            @if (formGroup.get('estoque')?.errors?.['required']) {
            <span>O estoque deve ser informado.</span>
            } @if (formGroup.get('estoque')?.errors?.['minlength']) {
            <span>O estoque deve possuir ao menos 4 caracteres.</span>
            } @if (formGroup.get('estoque')?.hasError('apiError')) {
            <span>{{ formGroup.get("estoque")?.getError("apiError") }}</span>
            }
          </mat-error>
        </mat-form-field>
        <!-- espaço -->

        <!-- espaço -->
        <!-- <mat-form-field appearance="outline" class="full-width-input">
          <mat-label><mat-icon>image</mat-icon>Imagem da Peca</mat-label>
          <input matInput type="text" formControlName="nomeImagem" />
          <mat-error *ngIf="
              formGroup.get('nomeImagem') &&
              formGroup.get('nomeImagem')?.invalid &&
              formGroup.get('nomeImagem')?.touched
            ">O nomeImagem é obrigatório.</mat-error>
        </mat-form-field> -->

        <div appearance="outline" div class="full-width-input">
          <label for="file-input"><mat-icon>image</mat-icon> Imagem da Peça</label>
          <input type="file" id="file-input" (change)="onFileSelected($event)">
        </div>

        <!-- Campo Nome da Imagem (somente leitura) -->
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Nome da Imagem</mat-label>
          <input matInput type="text" formControlName="nomeImagem" readonly>
        </mat-form-field>

        <!-- Botão de Upload de Imagem -->
        <button mat-raised-button color="primary" (click)="onUpload()" [disabled]="!selectedFile">
          Upload Imagem
        </button>

        <!-- Exibição da Imagem -->
        <img *ngIf="imageUrl" [src]="imageUrl" alt="Imagem do Produto" width="200">

      </form>

      <!-- espaço -->
    </mat-card-content>

    <!-- espaço -->
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="salvarProduct()" [disabled]="formGroup.invalid">
        Salvar
      </button>
      <button mat-raised-button *ngIf="formGroup?.get('id')?.value" color="warn" (click)="excluirProduct()"
        [disabled]="formGroup.invalid">
        Excluir
      </button>
      <button mat-raised-button routerLink="/admin/produtos">Cancelar</button>
    </mat-card-actions>
  </mat-card>
</div>
