<mat-toolbar color="primary">
  <div class="flex-container">
    <span class="toolbar-title"><mat-icon>build</mat-icon> Controle de Suspensoes</span>
    <button mat-fab color="basic" routerLink="/categories/new">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-toolbar>

<table mat-table [dataSource]="categories" class="mat-elevation-z8">
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element" class="center-content font-styled">{{ element.id }}</td>
  </ng-container>

  <!-- Rua Column -->
  <ng-container matColumnDef="suspensao">
    <th mat-header-cell *matHeaderCellDef> <mat-icon>description</mat-icon> Nome da Suspensao</th>
    <td mat-cell *matCellDef="let element" class="center-content font-styled">{{ element.category }}</td>
  </ng-container>

  <!-- Número da Casa Column -->
  <ng-container matColumnDef="material">
    <th mat-header-cell *matHeaderCellDef><mat-icon>terrain</mat-icon> Material da Suspensao</th>

    <td mat-cell *matCellDef="let element" class="center-content font-styled">{{ element.material }}</td>
  </ng-container>

  <!-- Ação Column -->
  <ng-container matColumnDef="acao">
    <th mat-header-cell *matHeaderCellDef><mat-icon>settings</mat-icon>Ação</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        color="primary"
        routerLink="/category/edit/{{ element.id }}"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="excluirSuspensao(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Definição das colunas a serem exibidas -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  [pageSizeOptions]="[2, 4, 8, 16]"
  [pageSize]="pageSize"
  [length]="totalRecords"
  (page)="paginar($event)"
>
</mat-paginator>

