<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" [opened]="isMenuOpen">
    <mat-nav-list>
      <a mat-list-item routerLink="/pedidos">Voltar</a>
      <a mat-list-item routerLink="/pedidos">Pedidos</a>
      <a mat-list-item routerLink="/produtos">Produtos</a>
      <a mat-list-item routerLink="/usuarios">Meu usuário</a>
      <a mat-list-item routerLink="/cupom">Meus cupons</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <!-- <button mat-icon-button class="menu-button" (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button> -->

      <div class="flex-container">
        <span class="toolbar-title"> Carrinho </span>
      </div>
      <!-- Adicionando o botão de adicionar cupom -->
    </mat-toolbar>

    <div class="form-container">
      <mat-card>
        <mat-card-content>
          <form [formGroup]="formGroup">
            <!-- espaço -->
            <mat-form-field appearance="fill" class="full-width-input">
              <mat-label>Data pedido</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="dataPedido"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error
                *ngIf="
                  formGroup.get('dataPedido')?.errors &&
                  formGroup.get('dataPedido')?.touched
                "
              >
                @if (formGroup.get('dataPedido')?.errors?.['required']) {
                <span>a data do pedido deve ser informado.</span>
                } @if (formGroup.get('dataPedido')?.errors?.['minlength']) {
                <span>a data pedido deve possuir ao menos 4 caracteres.</span>
                } @if (formGroup.get('dataPedido')?.hasError('apiError')) {
                <span>{{
                  formGroup.get("dataPedido")?.getError("apiError")
                }}</span>
                }</mat-error
              >
            </mat-form-field>
            <!-- espaço -->
            <mat-form-field appearance="outline" class="full-width-input">
              <mat-label>Pagamento</mat-label>
              <mat-select formControlName="pagamento_id">
                @for (pagamento of pagamentos; track pagamento) {
                <mat-option [value]="pagamento.id">{{
                  pagamento.formaPagamento.label
                }}</mat-option>
                }
              </mat-select>
              <!-- Validação para o campo de login -->
              <mat-error
                *ngIf="
                  formGroup.get('pagamento_id')?.errors &&
                  formGroup.get('pagamento_id')?.touched
                "
              >
                @if (formGroup.get('pagamento_id')?.errors?.['required']) {
                <span>a data do pedido deve ser informado.</span>
                } @if (formGroup.get('pagamento_id')?.errors?.['minlength']) {
                <span>a data pedido deve possuir ao menos 4 caracteres.</span>
                } @if (formGroup.get('pagamento_id')?.hasError('apiError')) {
                <span>{{
                  formGroup.get("pagamento_id")?.getError("apiError")
                }}</span>
                }</mat-error
              >
            </mat-form-field>
            <!-- espaço -->
            <mat-form-field appearance="outline" class="full-width-input">
              <mat-label>Status do pedido</mat-label>
              <mat-select formControlName="statusPedido">
                @for (statusPedido of statusPedidos; track statusPedido) {
                <mat-option [value]="statusPedido.id">{{
                  statusPedido.label
                }}</mat-option>
                }
              </mat-select>
              <!-- Validação para o campo de senha -->
              <mat-error
                *ngIf="
                  formGroup.get('statusPedido')?.errors &&
                  formGroup.get('statusPedido')?.touched
                "
              >
                @if (formGroup.get('statusPedido')?.errors?.['required']) {
                <span>a data do pedido deve ser informado.</span>
                } @if (formGroup.get('statusPedido')?.errors?.['minlength']) {
                <span>a data pedido deve possuir ao menos 4 caracteres.</span>
                } @if (formGroup.get('statusPedido')?.hasError('apiError')) {
                <span>{{
                  formGroup.get("statusPedido")?.getError("apiError")
                }}</span>
                }</mat-error
              >
            </mat-form-field>
            <!-- espaço -->
            <mat-form-field appearance="fill" class="full-width-input">
              <mat-label>Cupom</mat-label>
              <mat-select formControlName="cupom_id">
                @for (cupom of cupons; track cupom) {
                <mat-option [value]="cupom.id">{{
                  cupom.nomeCupom
                }}</mat-option>
                }
              </mat-select>
              <mat-error
                *ngIf="
                  formGroup.get('cupom_id')?.errors &&
                  formGroup.get('cupom_id')?.touched
                "
              >
                @if (formGroup.get('cupom_id')?.errors?.['required']) {
                <span>a data do pedido deve ser informado.</span>
                } @if (formGroup.get('cupom_id')?.errors?.['minlength']) {
                <span>a data pedido deve possuir ao menos 4 caracteres.</span>
                } @if (formGroup.get('cupom_id')?.hasError('apiError')) {
                <span>{{
                  formGroup.get("cupom_id")?.getError("apiError")
                }}</span>
                }</mat-error
              >
            </mat-form-field>
            <!-- espaço -->
            <mat-form-field appearance="fill" class="full-width-input">
              <mat-label>totalPedido</mat-label>
              <input matInput type="text" formControlName="totalPedido" />
              <mat-error
                *ngIf="
                  formGroup.get('totalPedido')?.errors &&
                  formGroup.get('totalPedido')?.touched
                "
              >
                @if (formGroup.get('totalPedido')?.errors?.['required']) {
                <span>a data do pedido deve ser informado.</span>
                } @if (formGroup.get('totalPedido')?.errors?.['minlength']) {
                <span>a data pedido deve possuir ao menos 4 caracteres.</span>
                } @if (formGroup.get('totalPedido')?.hasError('apiError')) {
                <span>{{
                  formGroup.get("totalPedido")?.getError("apiError")
                }}</span>
                }</mat-error
              >
            </mat-form-field>
            <!-- espaço -->
            <mat-form-field appearance="outline" class="full-width-input">
              <mat-label>Usuario</mat-label>
              <mat-select formControlName="usuario_id">
                @for (usuario of usuarios; track usuario) {
                <mat-option [value]="usuario.id">{{ usuario.nome }}</mat-option>
                }
              </mat-select>
              <!-- Validação para o campo de senha -->
              <mat-error
                *ngIf="
                  formGroup.get('usuario_id')?.errors &&
                  formGroup.get('usuario_id')?.touched
                "
              >
                @if (formGroup.get('usuario_id')?.errors?.['required']) {
                <span>a data do pedido deve ser informado.</span>
                } @if (formGroup.get('usuario_id')?.errors?.['minlength']) {
                <span>a data pedido deve possuir ao menos 4 caracteres.</span>
                } @if (formGroup.get('usuario_id')?.hasError('apiError')) {
                <span>{{
                  formGroup.get("usuario_id")?.getError("apiError")
                }}</span>
                }</mat-error
              >
            </mat-form-field>
            <!-- espaço -->
          </form>

          <!-- espaço -->
        </mat-card-content>

        <!-- espaço -->
        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            (click)="salvarPedido()"
            [disabled]="formGroup.invalid"
          >
            Salvar
          </button>
          <button
            mat-raised-button
            *ngIf="formGroup?.get('id')?.value"
            color="warn"
            (click)="excluirPedido()"
            [disabled]="formGroup.invalid"
          >
            Excluir
          </button>
          <button mat-raised-button routerLink="/pedidos">Cancelar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-sidenav-content></mat-sidenav-container
>
