<mat-toolbar color="primary" class="toolbar-title"
  >Cadastro de endereço</mat-toolbar
>

<div class="form-container">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <!-- espaço -->
        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>dataPedido</mat-label>
          <input matInput type="text" formControlName="dataPedido" />
          <mat-error
            *ngIf="
              formGroup.get('dataPedido') &&
              formGroup.get('dataPedido')?.invalid &&
              formGroup.get('dataPedido')?.touched
            "
            >A dataPedido é obrigatório.</mat-error
          >
        </mat-form-field>
        <!-- espaço -->
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>pagamento</mat-label>
          <input matInput type="text" formControlName="pagamento" />
          <!-- Validação para o campo de login -->
          <mat-error
            *ngIf="
              formGroup.get('pagamento') &&
              formGroup.get('pagamento')?.invalid &&
              formGroup.get('pagamento')?.touched
            "
            >O pagamento é obrigatório.</mat-error
          >
        </mat-form-field>
        <!-- espaço -->
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>statusPedido</mat-label>
          <input matInput type="text" formControlName="statusPedido" />
          <!-- Validação para o campo de senha -->
          <mat-error
            *ngIf="
              formGroup.get('statusPedido') &&
              formGroup.get('statusPedido')?.invalid &&
              formGroup.get('statusPedido')?.touched
            "
            >o statusPedido é obrigatória.</mat-error
          >
        </mat-form-field>
        <!-- espaço -->
        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>cupom</mat-label>
          <input matInput type="text" formControlName="cupom" />
          <mat-error
            *ngIf="
              formGroup.get('cupom') &&
              formGroup.get('cupom')?.invalid &&
              formGroup.get('cupom')?.touched
            "
            >O cupom é obrigatório.</mat-error
          >
        </mat-form-field>
        <!-- espaço -->
        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>totalPedido</mat-label>
          <input matInput type="text" formControlName="totalPedido" />
          <mat-error
            *ngIf="
              formGroup.get('totalPedido') &&
              formGroup.get('totalPedido')?.invalid &&
              formGroup.get('totalPedido')?.touched
            "
            >O totalPedido é obrigatório.</mat-error
          >
        </mat-form-field>
        <!-- espaço -->
        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>idUsuario</mat-label>
          <input matInput type="text" formControlName="idUsuario" />
          <mat-error
            *ngIf="
              formGroup.get('idUsuario') &&
              formGroup.get('idUsuario')?.invalid &&
              formGroup.get('idUsuario')?.touched
            "
            >O idUsuario é obrigatório.</mat-error
          >
        </mat-form-field>
        <!-- espaço -->
        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>idItemPedido</mat-label>
          <input matInput type="text" formControlName="idItemPedido" />
          <mat-error
            *ngIf="
              formGroup.get('idItemPedido') &&
              formGroup.get('idItemPedido')?.invalid &&
              formGroup.get('idItemPedido')?.touched
            "
            >O idItemPedido é obrigatório.</mat-error
          >
        </mat-form-field>
        <!-- espaço -->
      </form>

      <!-- espaço -->
    </mat-card-content>

    <!-- espaço -->
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        (click)="salvarPedido()"
        [disabled]="formGroup.invalid"
      >
        Salvar
      </button>
      <button
        mat-raised-button
        *ngIf="formGroup?.get('id')?.value"
        color="warn"
        (click)="excluirPedido()"
        [disabled]="formGroup.invalid"
      >
        Excluir
      </button>
      <button mat-raised-button routerLink="/pedidos">Cancelar</button>
    </mat-card-actions>
  </mat-card>
</div>
