<mat-toolbar color="primary" class="toolbar-title"
  >Cadastro de cupom</mat-toolbar
>

<div class="form-container">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <!-- espaço -->
        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Nome do cupom</mat-label>
          <input matInput type="text" formControlName="nomeCupom" />
          <mat-error
            *ngIf="
              formGroup.get('nomeCupom') &&
              formGroup.get('nomeCupom')?.invalid &&
              formGroup.get('nomeCupom')?.touched
            "
            >o nome do cupom é obrigatório.</mat-error
          >
        </mat-form-field>
        <!-- espaço -->

        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Data aplicada</mat-label>
          <input matInput type="text" formControlName="dataAplicada" />
          <mat-error
            *ngIf="
              formGroup.get('dataAplicada') &&
              formGroup.get('dataAplicada')?.invalid &&
              formGroup.get('dataAplicada')?.touched
            "
          >
            A data aplicada é obrigatória.</mat-error
          >
        </mat-form-field>

        <!-- espaço -->
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Desconto</mat-label>
          <input matInput type="text" formControlName="desconto" />
          <!-- Validação para o campo de senha -->
          <mat-error
            *ngIf="
              formGroup.get('desconto') &&
              formGroup.get('desconto')?.invalid &&
              formGroup.get('desconto')?.touched
            "
            >o desconto é obrigatória.</mat-error
          >
        </mat-form-field>
        <!-- espaço -->
      </form>

      <!-- espaço -->
    </mat-card-content>

    <!-- espaço -->
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        (click)="salvarCupom()"
        [disabled]="formGroup.invalid"
      >
        Salvar
      </button>
      <button
        mat-raised-button
        *ngIf="formGroup?.get('id')?.value"
        color="warn"
        (click)="excluirCupom()"
        [disabled]="formGroup.invalid"
      >
        Excluir
      </button>
      <button mat-raised-button routerLink="/cupom">Cancelar</button>
    </mat-card-actions>
  </mat-card>
</div>
