<mat-sidenav-container class="sidenav-container" style="height: 100%">
  <mat-sidenav #sidenav mode="over" opened="false">
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Inicio</a>
      <a mat-list-item routerLink="/produtos">Produtos</a>
      <a mat-list-item routerLink="/enderecos">Endereços</a>
      <a mat-list-item routerLink="/telefones">Telefones</a>
      <a mat-list-item routerLink="/pedidos">Pedidos</a>
      <a mat-list-item routerLink="/usuarios">Meu usuário</a>
      <!-- Adicione mais links conforme necessário -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="mat-toolbar-black">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar-title">Cadastro de cupom</span>
    </mat-toolbar>

    <div class="form-container">
      <mat-card>
        <mat-card-content>
          <form [formGroup]="formGroup">
            <!-- Espaço -->
            <mat-form-field appearance="fill" class="full-width-input">
              <mat-label>Nome do cupom</mat-label>
              <input matInput type="text" formControlName="nomeCupom" />
              <mat-error
                *ngIf="
                  formGroup.get('nomeCupom')?.errors &&
                  formGroup.get('nomeCupom')?.touched
                "
              >
                <!-- Validação para o campo de nome do cupom -->
              </mat-error>
            </mat-form-field>
            <!-- Espaço -->

            <mat-form-field appearance="fill" class="full-width-input">
              <mat-label>Data aplicada</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="dataAplicada"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error
                *ngIf="
                  formGroup.get('dataAplicada')?.errors &&
                  formGroup.get('dataAplicada')?.touched
                "
              >
                <!-- Validação para o campo de data aplicada -->
              </mat-error>
            </mat-form-field>

            <!-- Espaço -->
            <mat-form-field appearance="outline" class="full-width-input">
              <mat-label>Desconto</mat-label>
              <input matInput type="text" formControlName="desconto" />
              <mat-error
                *ngIf="
                  formGroup.get('desconto')?.errors &&
                  formGroup.get('desconto')?.touched
                "
              >
                <!-- Validação para o campo de desconto -->
              </mat-error>
            </mat-form-field>
            <!-- Espaço -->
          </form>
          <!-- Espaço -->
        </mat-card-content>

        <!-- Espaço -->
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="salvarCupom()">
            Salvar
          </button>
          <button
            mat-raised-button
            *ngIf="formGroup?.get('id')?.value"
            color="warn"
            (click)="excluirCupom()"
            [disabled]="formGroup.invalid"
          >
            Excluir
          </button>
          <button mat-raised-button routerLink="/cupom">Cancelar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
