<mat-sidenav-container class="sidenav-container" style="height: 100%">
  <mat-sidenav #sidenav mode="over" opened="false">
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Inicio</a>
      <a mat-list-item routerLink="/produtos">Produtos</a>
      <a mat-list-item routerLink="/enderecos">Endereços</a>
      <a mat-list-item routerLink="/telefones">Telefones</a>
      <a mat-list-item routerLink="/pedidos">Pedidos</a>
      <a mat-list-item routerLink="/usuarios">Meu usuario</a>
      <!-- Adicione mais links conforme necessário -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="mat-toolbar-black">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <button
        mat-icon-button
        class="back-button"
        [routerLink]="'/rota do inicio '"
      >
        <mat-icon>chevron_left</mat-icon>
      </button>
      <div class="flex-container">
        <span class="toolbar-title">Controle de cupons</span>
        <button mat-fab color="accent" routerLink="/cupom/new">
          <mat-icon class="add-button-icon">add</mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <table mat-table [dataSource]="cupoms" class="mat-elevation-z8">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Nome do Cupom Column -->
      <ng-container matColumnDef="nomeCupom">
        <th mat-header-cell *matHeaderCellDef>Nome do cupom</th>
        <td mat-cell *matCellDef="let element">{{ element.nomeCupom }}</td>
      </ng-container>

      <!-- Data Aplicada Column -->
      <ng-container matColumnDef="dataAplicada">
        <th mat-header-cell *matHeaderCellDef>Data aplicada</th>
        <td mat-cell *matCellDef="let element">{{ element.dataAplicada }}</td>
      </ng-container>

      <!-- Desconto Column -->
      <ng-container matColumnDef="desconto">
        <th mat-header-cell *matHeaderCellDef>Desconto</th>
        <td mat-cell *matCellDef="let element">{{ element.desconto }}</td>
      </ng-container>

      <!-- Ação Column -->
      <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef>Ação</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            color="primary"
            routerLink="/cupom/edit/{{ element.id }}"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="excluirCupom(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Definição das colunas a serem exibidas -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[2, 4, 8, 16]"
      [pageSize]="pageSize"
      [length]="totalRecords"
      (page)="paginar($event)"
    >
    </mat-paginator>
  </mat-sidenav-content>
</mat-sidenav-container>
