<mat-toolbar color="primary" class="toolbar-title"
  >Cadastro de endereço</mat-toolbar
>

<div class="form-container">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <!-- espaço -->
        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>quantidade</mat-label>
          <input matInput type="text" formControlName="quantidade" />
          <mat-error
            *ngIf="
              formGroup.get('quantidade') &&
              formGroup.get('quantidade')?.invalid &&
              formGroup.get('quantidade')?.touched
            "
            >A quantidade é obrigatório.</mat-error
          >
        </mat-form-field>
        <!-- espaço -->
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>preco</mat-label>
          <input matInput type="text" formControlName="preco" />
          <!-- Validação para o campo de login -->
          <mat-error
            *ngIf="
              formGroup.get('preco') &&
              formGroup.get('preco')?.invalid &&
              formGroup.get('preco')?.touched
            "
            >O preco é obrigatório.</mat-error
          >
        </mat-form-field>
        <!-- espaço -->
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>product</mat-label>
          <input matInput type="text" formControlName="product" />
          <!-- Validação para o campo de senha -->
          <mat-error
            *ngIf="
              formGroup.get('product') &&
              formGroup.get('product')?.invalid &&
              formGroup.get('product')?.touched
            "
            >o product é obrigatória.</mat-error
          >
        </mat-form-field>
        <!-- espaço -->
        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>pedido</mat-label>
          <input matInput type="text" formControlName="pedido" />
          <mat-error
            *ngIf="
              formGroup.get('pedido') &&
              formGroup.get('pedido')?.invalid &&
              formGroup.get('pedido')?.touched
            "
            >O pedido é obrigatório.</mat-error
          >
        </mat-form-field>

        <!-- espaço -->
      </form>

      <!-- espaço -->
    </mat-card-content>

    <!-- espaço -->
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        (click)="salvarItemPedido()"
        [disabled]="formGroup.invalid"
      >
        Salvar
      </button>
      <button
        mat-raised-button
        *ngIf="formGroup?.get('id')?.value"
        color="warn"
        (click)="excluirItemPedido()"
        [disabled]="formGroup.invalid"
      >
        Excluir
      </button>
      <button mat-raised-button routerLink="/itenspedidos">Cancelar</button>
    </mat-card-actions>
  </mat-card>
</div>
