<mat-toolbar color="primary">
  <div class="flex-container">
    <span class="toolbar-title">Controle de Usuários</span>
    <button mat-fab color="accent" routerLink="/enderecos/new">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-toolbar>

<table mat-table [dataSource]="enderecos" class="mat-elevation-z8">
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Nome Column -->
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
  </ng-container>

  <!-- Login Column -->
  <ng-container matColumnDef="login">
    <th mat-header-cell *matHeaderCellDef>Login</th>
    <td mat-cell *matCellDef="let element">{{ element.login }}</td>
  </ng-container>

  <!-- Senha Column -->
  <ng-container matColumnDef="senha">
    <th mat-header-cell *matHeaderCellDef>Senha</th>
    <td mat-cell *matCellDef="let element">{{ element.senha }}</td>
  </ng-container>

  <!-- CPF Column -->
  <ng-container matColumnDef="cpf">
    <th mat-header-cell *matHeaderCellDef>CPF</th>
    <td mat-cell *matCellDef="let element">{{ element.cpf }}</td>
  </ng-container>

  <!-- Perfil Column -->
  <ng-container matColumnDef="perfil">
    <th mat-header-cell *matHeaderCellDef>Perfil</th>
    <td mat-cell *matCellDef="let element">{{ element.perfil }}</td>
  </ng-container>

  <!-- Código de Área Column -->
  <ng-container matColumnDef="codigoArea">
    <th mat-header-cell *matHeaderCellDef>Código de Área</th>
    <td mat-cell *matCellDef="let element">{{ element.codigoArea }}</td>
  </ng-container>

  <!-- Número Column -->
  <ng-container matColumnDef="numero">
    <th mat-header-cell *matHeaderCellDef>Número</th>
    <td mat-cell *matCellDef="let element">{{ element.numero }}</td>
  </ng-container>

  <!-- Rua Column -->
  <ng-container matColumnDef="rua">
    <th mat-header-cell *matHeaderCellDef>Rua</th>
    <td mat-cell *matCellDef="let element">{{ element.rua }}</td>
  </ng-container>

  <!-- Número da Casa Column -->
  <ng-container matColumnDef="numeroCasa">
    <th mat-header-cell *matHeaderCellDef>Número da Casa</th>
    <td mat-cell *matCellDef="let element">{{ element.numeroCasa }}</td>
  </ng-container>

  <!-- Cidade Column -->
  <ng-container matColumnDef="cidade">
    <th mat-header-cell *matHeaderCellDef>Cidade</th>
    <td mat-cell *matCellDef="let element">{{ element.cidade }}</td>
  </ng-container>

  <!-- Estado Column -->
  <ng-container matColumnDef="estado">
    <th mat-header-cell *matHeaderCellDef>Estado</th>
    <td mat-cell *matCellDef="let element">{{ element.estado }}</td>
  </ng-container>

  <!-- CEP Column -->
  <ng-container matColumnDef="cep">
    <th mat-header-cell *matHeaderCellDef>CEP</th>
    <td mat-cell *matCellDef="let element">{{ element.cep }}</td>
  </ng-container>

  <!-- Ação Column -->
  <ng-container matColumnDef="acao">
    <th mat-header-cell *matHeaderCellDef>Ação</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        color="primary"
        routerLink="/enderecos/edit/{{ element.id }}"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="excluirEndereco(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Definição das colunas a serem exibidas -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
