<mat-toolbar color="primary" class="toolbar-title"
  >Cadastro de usuário</mat-toolbar
>

<div class="form-container">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <!-- Input para o campo Nome -->
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Nome</mat-label>
          <input matInput type="text" formControlName="nome" />
        </mat-form-field>

        <!-- Input para o campo Login -->
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Login</mat-label>
          <input matInput type="text" formControlName="login" />
        </mat-form-field>

        <!-- Input para o campo Senha -->
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Senha</mat-label>
          <input matInput type="password" formControlName="senha" />
        </mat-form-field>

        <!-- Input para o campo Perfil -->
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Perfil</mat-label>
          <input matInput type="text" formControlName="perfil" />
        </mat-form-field>

        <!-- Input para a lista de Telefones -->
        <div formArrayName="listaTelefone">
          <div
            *ngFor="
              let telefone of formGroup.get('listaTelefone').controls;
              let i = index
            "
            class="full-width-input"
          >
            <mat-form-field appearance="outline">
              <mat-label>Telefone {{ i + 1 }}</mat-label>
              <input matInput type="text" [formControlName]="i" />
            </mat-form-field>
          </div>
        </div>

        <!-- Input para a lista de Endereços -->
        <div formArrayName="listaEndereco">
          <div
            *ngFor="
              let endereco of formGroup.get('listaEndereco').controls;
              let i = index
            "
            class="full-width-input"
          >
            <mat-form-field appearance="outline">
              <mat-label>Endereço {{ i + 1 }}</mat-label>
              <input matInput type="text" [formControlName]="i" />
            </mat-form-field>
          </div>
        </div>

        <!-- Botões de ação -->
        <button
          mat-raised-button
          color="primary"
          (click)="salvarUsuario()"
          [disabled]="formGroup.invalid"
        >
          Salvar
        </button>
        <button
          mat-raised-button
          *ngIf="formGroup.get('id')?.value"
          color="warn"
          (click)="excluirUsuario()"
          [disabled]="formGroup.invalid"
        >
          Excluir
        </button>
        <button mat-raised-button routerLink="/usuarios">Cancelar</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
