<mat-toolbar color="primary" class="toolbar-title"
  >Cadastro de usuário</mat-toolbar
>

<div class="form-container">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <!-- Input para o campo Nome -->
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Nome</mat-label>
          <input matInput type="text" formControlName="nome" />
          <mat-error
            *ngIf="
              formGroup.get('nome')?.errors && formGroup.get('nome')?.touched
            "
          >
            @if (formGroup.get('nome')?.errors?.['required']) {
            <span>o nome deve ser informado.</span>
            } @if (formGroup.get('nome')?.errors?.['minlength']) {
            <span>o nome data pedido deve possuir ao menos 4 caracteres.</span>
            } @if (formGroup.get('nome')?.hasError('apiError')) {
            <span>{{ formGroup.get("nome")?.getError("apiError") }}</span>
            }</mat-error
          >
        </mat-form-field>

        <!-- Input para o campo Login -->
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Login</mat-label>
          <input matInput type="text" formControlName="login" />
          <mat-error
            *ngIf="
              formGroup.get('login')?.errors && formGroup.get('login')?.touched
            "
          >
            @if (formGroup.get('login')?.errors?.['required']) {
            <span>login deve ser informado.</span>
            } @if (formGroup.get('login')?.errors?.['minlength']) {
            <span>login deve possuir ao menos 4 caracteres.</span>
            } @if (formGroup.get('login')?.hasError('apiError')) {
            <span>{{ formGroup.get("login")?.getError("apiError") }}</span>
            }</mat-error
          >
        </mat-form-field>

        <!-- Input para o campo Senha -->
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Senha</mat-label>
          <input matInput type="password" formControlName="senha" />
          <mat-error
            *ngIf="
              formGroup.get('senha')?.errors && formGroup.get('senha')?.touched
            "
          >
            @if (formGroup.get('senha')?.errors?.['required']) {
            <span>a senha deve ser informado.</span>
            } @if (formGroup.get('senha')?.errors?.['minlength']) {
            <span>a dsenha deve possuir ao menos 4 caracteres.</span>
            } @if (formGroup.get('senha')?.hasError('apiError')) {
            <span>{{ formGroup.get("senha")?.getError("apiError") }}</span>
            }</mat-error
          >
        </mat-form-field>

        <!-- Input para o campo Cpf -->
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>CPF</mat-label>
          <input matInput type="text" formControlName="cpf" />
          <mat-error
            *ngIf="
              formGroup.get('cpf')?.errors && formGroup.get('cpf')?.touched
            "
          >
            @if (formGroup.get('cpf')?.errors?.['required']) {
            <span>cpf deve ser informado.</span>
            } @if (formGroup.get('cpf')?.errors?.['minlength']) {
            <span>cpf deve possuir ao menos 4 caracteres.</span>
            } @if (formGroup.get('cpf')?.hasError('apiError')) {
            <span>{{ formGroup.get("cpf")?.getError("apiError") }}</span>
            }</mat-error
          >
        </mat-form-field>

        <!-- Input para o campo Perfil -->
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Perfil</mat-label>
          <input matInput type="text" formControlName="perfil" />
          <mat-error
            *ngIf="
              formGroup.get('perfil')?.errors &&
              formGroup.get('perfil')?.touched
            "
          >
            @if (formGroup.get('perfil')?.errors?.['required']) {
            <span>perfil deve ser informado.</span>
            } @if (formGroup.get('perfil')?.errors?.['minlength']) {
            <span>perfil deve possuir ao menos 4 caracteres.</span>
            } @if (formGroup.get('perfil')?.hasError('apiError')) {
            <span>{{ formGroup.get("perfil")?.getError("apiError") }}</span>
            }</mat-error
          >
        </mat-form-field>

        <!-- Botões de ação -->
        <button
          mat-raised-button
          color="primary"
          (click)="salvarUsuario()"
          [disabled]="formGroup.invalid"
        >
          Salvar
        </button>
        <button
          mat-raised-button
          *ngIf="formGroup.get('id')?.value"
          color="warn"
          (click)="excluirUsuario()"
          [disabled]="formGroup.invalid"
        >
          Excluir
        </button>
        <button mat-raised-button routerLink="/usuarios">Cancelar</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
