<mat-toolbar color="primary">
  <div class="flex-container">
    <span class="toolbar-title">Controle de Endereços</span>
    <button mat-fab color="accent" routerLink="/produtos/new">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-toolbar>

<table mat-table [dataSource]="products" class="mat-elevation-z8">
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Rua Column -->
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
  </ng-container>

  <!-- Número da Casa Column -->
  <ng-container matColumnDef="descricao">
    <th mat-header-cell *matHeaderCellDef>Descricao</th>
    <td mat-cell *matCellDef="let element">{{ element.descricao }}</td>
  </ng-container>

  <!-- Cidade Column -->
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef>Categoria</th>
    <td mat-cell *matCellDef="let element">{{ element.category?.category }}</td>
  </ng-container>

  <!-- Estado Column -->
  <ng-container matColumnDef="preco">
    <th mat-header-cell *matHeaderCellDef>Preco</th>
    <td mat-cell *matCellDef="let element">{{ element.preco }}</td>
  </ng-container>

  <!-- CEP Column -->
  <ng-container matColumnDef="estoque">
    <th mat-header-cell *matHeaderCellDef>Estoque</th>
    <td mat-cell *matCellDef="let element">{{ element.estoque }}</td>
  </ng-container>

  <!-- CEP Column -->
  <ng-container matColumnDef="nomeImagem">
    <th mat-header-cell *matHeaderCellDef>nomeImagem</th>
    <td mat-cell *matCellDef="let element">{{ element.nomeImagem }}</td>
  </ng-container>

  <!-- Ação Column -->
  <ng-container matColumnDef="acao">
    <th mat-header-cell *matHeaderCellDef>Ação</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        color="primary"
        routerLink="/produtos/edit/{{ element.id }}"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="excluirProduct(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Definição das colunas a serem exibidas -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  [pageSizeOptions]="[2, 4, 8, 16]"
  [pageSize]="pageSize"
  [length]="totalRecords"
  (page)="paginar($event)"
>
</mat-paginator>
