<mat-toolbar color="primary">
  <div class="flex-container">
    <span class="toolbar-title ">Controle de Peças</span>
    </div>
    <div class="toolbar-content">
      <button mat-fab color="basic" routerLink="/produtos/new">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <!-- <button mat-fab color="accent" routerLink="/produtos/new">
      <mat-icon>add</mat-icon>
    </button>
  </div> -->
</mat-toolbar>

<table mat-table [dataSource]="products" class="mat-elevation-z8">
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element" class="custom-cell">{{ element.id }}</td>
  </ng-container>

  <!-- Nome Column -->
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef><mat-icon>description</mat-icon>Nome</th>
    <td mat-cell *matCellDef="let element"class="custom-cell">{{ element.nome }}</td>
  </ng-container>

  <!-- Descricao Column -->
  <ng-container matColumnDef="descricao">
    <th mat-header-cell *matHeaderCellDef> <mat-icon>info</mat-icon> Descricao</th>
    <td mat-cell *matCellDef="let element"class="custom-cell">{{ element.descricao }}</td>
  </ng-container>

  Category Column
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> <mat-icon>category</mat-icon> Categoria</th>
    <td mat-cell *matCellDef="let element"class="custom-cell"> {{ element.category?.category }}</td>
  </ng-container>

  <!-- Category Column
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef>Categoria</th>
    <td mat-cell *matCellDef="let element">{{ element.category.category }}</td>
  </ng-container> -->

  <!-- Preco Column -->
  <ng-container matColumnDef="preco">
    <th mat-header-cell *matHeaderCellDef><mat-icon>monetization_on</mat-icon>Preco</th>
    <td mat-cell *matCellDef="let element"class="custom-cell">{{ element.preco }}</td>
  </ng-container>

  <!-- Estoque Column -->
  <ng-container matColumnDef="estoque">
    <th mat-header-cell *matHeaderCellDef><mat-icon>inventory_2</mat-icon>Estoque</th>
    <td mat-cell *matCellDef="let element"class="custom-cell">{{ element.estoque }}</td>
  </ng-container>

  <!-- NomeImagem Column -->
  <ng-container matColumnDef="nomeImagem">
    <th mat-header-cell *matHeaderCellDef><mat-icon>image</mat-icon>Imagem</th>
    <td mat-cell *matCellDef="let element"class="custom-cell">{{ element.nomeImagem }}</td>
  </ng-container>

  <!-- Ação Column -->
  <ng-container matColumnDef="acao">
    <th mat-header-cell *matHeaderCellDef><mat-icon>settings</mat-icon>Ação</th>
    <td mat-cell *matCellDef="let element"class="custom-cell">
      <button
        mat-icon-button
        color="primary"
        routerLink="/produtos/edit/{{ element.id }}"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="excluir(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Definição das colunas a serem exibidas -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  [pageSizeOptions]="[2, 4, 8, 16]"
  [pageSize]="pageSize"
  [length]="totalRecords"
  (page)="paginar($event)"
>
</mat-paginator>
